<form action="/invoices/<%= @invoice.id %>" method="post"> 
  <p>Edit</p> 
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='invoice[id]' value="<% @invoice.id%>"/><br/> 
  <input type='submit'/> 
</form> 