
<form action="/merchants/<%= @merchant.id %>" method="POST">
        <h1>Edit <%= @merchant.name %></h1>
        <input type="hidden" name="_method" value="PUT">
        <label>Name</label><br>
        <input type="text" name="merchantname" placeholder="<%= @merchant.name %>"><br>
        <input type="submit" value="Update Merchant"><br>
        <button type="cancel"> Cancel </button>
      </form>
