<!DOCTYPE html>
  <html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />

  <title>LittleShop</title>

</head>
<body>
  <header>
    <nav>
      <ul id = 'logo'>
        <li >LittleShop</li>
      </ul>
          <ul>
            <li>Merchants</li>
            <li>Items</li>
            <li> Invoices</li>
          </ul>
        </nav>
      </header>
<div>
<form action="/merchants/dashboard">
  <input type = "submit" value="Dashboard">
</form>

<h1> Merchants </h1>


<form action="/merchants/new">
    <input type="submit" value="Create A New Merchant">
  </form>
  </div
<% @merchants.each do |merchant| %>
  <ul>

    <li> Name:<a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a> </li>

  </ul>

  <form action="/merchants/<%=merchant.id%>/edit" method="GET">
     <input type="hidden" name="_method" value="EDIT">
     <input type="submit" value="Edit">
   </form>

  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete"/>
  </form>

<% end %>
</body>
</html>
