<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" title="text/css" />

  <title>LittleShop</title>
</head>
<body>
<h1> Create New Merchant</h1>
<form>

Name<br>

<input type = "text" name= "merchantname"

</form>

<form action = '/merchants' method "GET">
  <input type="submit" value="Cancel">
</form>

<form action = '/merchants' method "POST">
  <input type="hidden" name="_method" value="Create Merchant">
  <input type="submit" value="Create Merchant">
</form>

</body>
</html>
