<h1> Create New Merchant</h1>
<form>

Name<br>

<input type = "text" name= "merchantname"

</form>

<form action = '/merchants' method "GET">
  <input type="hidden" name="_method" value="Cancel">
  <input type="submit" value="Cancel">
</form>

<form action = '/merchants' method "POST">
  <input type="hidden" name="_method" value="Create Merchant">
  <input type="submit" value="Create Merchant">
</form>
