<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" title="text/css" />

  <title>LittleShop</title>
</head>
<body>
  <header>
    <nav>
      <ul id = 'logo'>
        <li >LittleShop</li>
      </ul>
          <ul>
            <li>Merchants</li>
            <li>Items</li>
            <li> Invoices</li>
          </ul>
        </nav>
      </header>
<div>
  <h1> Items </h1>
  <form action="/items/new">
      <input type="submit" value="Create A New Item">
    </form>
  <% @items.each do |item| %>
    <ul>
      <li><img src="http://placekitten.com/200/300" alt="image placeholder"/> </li>
      <li> Name:<a href="/items/<%=item.id%>"><%=item.name%></a> </li>
      <li>$ <%='%.2f' % item.unit_price%></li></br>
      <% end %>

    </ul>
  </body>
  </html>
